.container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}
.film-info{
    width: 680px;
    height: 430px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
iframe {
    text-align: center;
}

.align-right{
    text-align: right;
    padding-right: 40px;
}
.curr-img{
    width: 330px;
    height: 100%;
}

.your-span {
    width: 20px;
    height: 20px;
    background-color: red;
}

.others-span {
    width: 20px;
    height: 20px;
    background-color: grey;
}

.available-span {
    width: 20px;
    height: 20px;
    background-color: rgb(148, 230, 148);
}

.your-tickets, .others-tickets, .available-tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
