.container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    /* background-color: rgb(144, 199, 144); */
}
.film-info{
    width: 100%;
    height: 430px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
}
iframe {
    text-align: center;
    max-width: 40%;
}

.align-right{
    text-align: right;
}
.curr-img{
    width: 300px;
    height: 400px;
}

.your-span {
    width: 20px;
    height: 20px;
    background-color: red;
}

.others-span {
    width: 20px;
    height: 20px;
    background-color: grey;
}

.available-span {
    width: 20px;
    height: 20px;
    background-color: rgb(148, 230, 148);
}

.your-tickets, .others-tickets, .available-tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

